{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Calculator</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
        body {
            background-color: lightyellow;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-text">Django Calculator</p>
          <a href="{% url 'user_create_view' %}">
            <button type="button" class="btn btn-default navbar-btn">Create User</button>
          </a>
          {% if not request.user.is_authenticated %}
          <a href="{% url 'login' %}">
            <button type="button" class="btn btn-default navbar-btn">Login</button>
          </a>
            {% else %}
          <a href="{% url 'profile_detail_view' user.id %}">
            <button type="button" class="btn btn-default navbar-btn">Go to Profile</button>
          </a>
          <a href="{% url 'logout' %}?next={% url 'calculator_view' %}">
            <button type="button" class="btn btn-default navbar-btn">Logout</button>
          </a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
